* {
      margin: 0;
      box-sizing: border-box;
      border: 0;
      font-family: 'Nunito Sans', sans-serif;
}

/*
      Improve text rendering
*/
body {
      -webkit-font-smoothing: antialiased;
      position: relative;
}


/*
      Improve media defaults
*/
img, picture, video, canvas, svg {
      display: block;
      max-width: 100%;
}


/*
      Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
      overflow-wrap: break-word;
}

a {
      text-decoration: none;
}


.main {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
}


.header {
      position: fixed;
      top: 0;
      height: 7vh;
      padding: 16px 15%;
      display: flex;
      align-items:center;
      background-color: #1f2937;
      width: 100%;
      justify-content: space-between;
}

.header a {
      color: white;
}

.h-left {
      font-size: 29px;
      font-weight: 800;
}
.h-right a {
      font-size: 15px;
      margin: 0 8px;
}


.section-one {
      height: 100vh;
      display: flex;
      padding: 0 15%;
      background-color: #1f2937;
      width: 100%;
      color: white;
      align-items: center;
      justify-content: center;
      gap: 50px;
}

.s1-left {
      width: 50%;
      min-width: 300px;
}
.s1-right {
      width: 50%;
      min-width: 300px;
}

.s1-title {
      font-size: 50px;
      font-weight: 900;
}
.s1-text {
      font-size: 18px;
}

.s1-right img {
      border-radius: 10%;
}



.section-two {
      height: 100vh;
      padding: 0 23%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.s2-container {
      display: flex;
}

.s2-pic {
      width: 300px;
      height: 300px;%;
      margin: 10px;
      
}

.s2-title {
      font-size: 6vh;
      margin-bottom: 10vh;
      font-weight: 700;
}

.s2-container p {
      font-weight: 800;
      text-align: center;
      padding: 30px;
}



.section-three {
      height: 60vh;
      padding: 0 24%;
      display: flex;
      flex-direction: column;
      background-color: #e5e7eb;
      align-items: flex-end;
      justify-content: center;
}

.quote {
      font-size: 36px;
      font-style: italic;
      color: #1f2937
}

.quote-author {
      font-size: 22px;
      font-style: italic;
      color: #1f2937;
      padding-top: 30px;

}

.section-four {
      height: 40vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 100px;
}

.footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 6vh;
      text-align: center;
      vertical-align: center;
}


button {
      background-color: #3882f6;
      display: inline-block;
      font-size: 20px;
      padding: 8px;
      width: 30%;
      border-radius: 9px;
      color: white;
      margin-top: 12px;
}